@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&family=Saira+Condensed:wght@200;500&display=swap");

:root {
  --black: #0e1424;
  --gray: #4e4e50;
  --darkMaroon: #6f2232;
  --lightMaroon: #950740;
  --pink: #c3073f;
  --white: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
}

::-webkit-input-placeholder {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
}

input[type="text"] {
  color: #fff;
  font-family: "Saira Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}
